.title{
    margin-bottom: 30px;
    font-size: 18px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px
}
label{
    display: block;
    margin-bottom:  8px;
}
input,
select, 
.input{
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ddd;
}
.select{
    display:flex;
    align-items: center;
    gap: 10px;
}


.chip {
    padding: 8px, 10px;
    background: #f3f3f3;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 80px;
    align-items: center;
    padding-right: 20px;
}
button:first-child{
    background: none;
    border: none;
    color: #7f977f;
    font-size: 12px;
    font-weight: 500;
    padding:  0;
    cursor: pointer;


}
.search{
    background: 0b5bd3;
    color: white;
    border: none;
    padding: 12px 25px;
}